{% extends 'base.html' %}

{% block body %}
<div class="card" style="width: 50%; margin: 0 auto; border: 2px solid green; padding: 30px; text-align: center;">
    <h5 class="card-title" style="font-size: 24px;">Thiago Regueira</h5>
    <p class="card-text" style="font-size: 20px;">thiago.regueira@yahoo.com.br</p>
    <a href="https://www.linkedin.com/in/thiagoregueira/" style="text-decoration: none; font-size: 20px;"
        class="card-link">Linkedin</a>
    <a href="https://github.com/thiagoregueira/Blog_Comunidade_Flask" style="text-decoration: none; font-size: 20px;"
        class="card-link">GitHub do projeto</a>
</div>
{% endblock %}