{% extends 'base.html' %}

{% block body %}
<div class="card" style="width: 18rem; border: 2px solid green; padding: 20px;">
    <h5 class="card-title">Thiago Regueira</h5>
    <p class="card-text">thiago.regueira@yahoo.com.br</p>
    <a href="https://www.linkedin.com/in/thiagoregueira/" style="text-decoration: none" class="card-link">Linkedin</a>
    <a href="https://github.com/thiagoregueira/Blog_Comunidade_Flask" style="text-decoration: none"
        class="card-link">GitHub do projeto</a>
</div>
{% endblock %}