<nav class="navbar navbar-expand-lg" style="background-color: #faebeb;">
    <div class="container-fluid container">
        <a class="navbar-brand" style="color: rgb(119, 58, 119);"
            href="{{ url_for('home') }}"><strong>↪️Comunidade</strong></a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Início</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('usuarios') }}">Usuários</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('contato') }}">Contato</a>
                </li>
            </ul>
            <ul class="d-flex navbar-nav">
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('criar_post') }}">Criar Post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('perfil') }}">Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('sair') }}">Sair</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">Criar Conta</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <button onclick="toggleTheme()">🌓</button>
                </li>
            </ul>
        </div>
    </div>
</nav>